---
import type { HTMLAttributes } from 'astro/types';
import { pwaInfo } from 'virtual:pwa-info';
import { DESCRIPTION, TITLE, TWITTER } from 'consts';

import NoScript from './NoScript.astro';
import MetaImage from './MetaImage.astro';
import MetaArticle from './MetaArticle.astro';

export type Props = HTMLAttributes<'head'> & {
	title?: string,
	description?: string,
	openGraph?: {
		type: 'website',
	} | {
		type: 'article',
		creator: string,
		createdAt: string | Date,
		updatedAt?: string | Date,
		section: string,
		tags?: string[],
	},
	twitter?: {
		creator: string,
		site?: string,
	},
	image?: {
		src: `/${string}`,
		alt: string,
		type: `image/${string}`,
		width: string | number,
		height: string | number,
	},
};

const { title, description = DESCRIPTION, openGraph = { type: 'website' }, twitter = { creator: TWITTER }, image, ...props } = Astro.props;

const finalTitle = !title ? TITLE : `${TITLE} | ${title}`;
const canonicalUrl = new URL(Astro.url.pathname, Astro.site);
---

<head {...props}>
  <!-- Primary -->
  <meta charset='utf-8' />
  <title>{finalTitle}</title>
  <meta name='description' content={description} />
  <meta name='robots' content='index, follow' />
  <meta name='viewport' content='width=device-width,initial-scale=1' />
  <link rel='canonical' href={canonicalUrl} />
  <link rel='author' type='text/plain' href='/humans.txt' />
  <meta name='generator' content={Astro.generator} />

  <!-- OpenGraph -->
  <meta property='og:type' content={openGraph.type} />
  <meta property='og:url' content={canonicalUrl} />
  <meta property='og:title' content={finalTitle} />
  <meta property='og:description' content={description} />

  <!-- Twitter -->
  <meta property='twitter:card' content='summary_large_image' />
  <meta property='twitter:site' content={twitter.site || twitter.creator} />
  <meta property='twitter:creator' content={twitter.creator} />

  {image && (<MetaImage {...image} />)}

  {openGraph?.type === 'article' && (<MetaArticle {...openGraph} />)}

  <!-- PWA -->
  <link rel='icon' type='image/png' href='/favicon-16x16.png' sizes='16x16' />
  <link rel='icon' type='image/png' href='/favicon-32x32.png' sizes='32x32' />
  <link rel='icon' type='image/x-icon' href='/favicon.ico' sizes='48x48' />
  <link rel='apple-touch-icon' type='image/png' href='/apple-touch-icon.png' sizes='180x180' />
  <link rel='mask-icon' href='/mask-icon.svg' color='#000' />
  <meta name='theme-color' content='#000' />
  <meta name='msapplication-TileColor' content='#000' />
  {pwaInfo && (<link rel='manifest' href={pwaInfo.webManifest.href} />)}
  {pwaInfo?.registerSW && (<script src={pwaInfo.registerSW.registerPath} />)}

  <!-- Misc -->
  <slot />
  <NoScript />
</head>
