---
import { getCollection } from 'astro:content';

import DefaultLayout from '~/layouts/BaseLayout.astro';
import Card from '~/components/Card.astro';
import Link from '~/components/Link.astro';
import Date from '~/components/Date.astro';
import { textSorter } from '~/shared/server';
import { FULL_TITLE } from '!config';

const entries = (await getCollection('texts')).sort(textSorter);

export const title = 'Blog';
export const ogTitle = 'A delicate blogge for the brutish';
export const description = 'Nooo, not another one of those';
---

<DefaultLayout title={title} description={description}>
  <main class='grid w-full max-w-screen-lg flex-1 grid-cols-1 content-start justify-items-center gap-2 p-2 md:gap-4 md:p-4 lg:gap-8'>
    <h1 class='text-center font-optician text-xl 2xs:text-3xl xs:text-4xl sm:text-6xl md:text-7xl lg:text-8xl'>
      latest blog entries
    </h1>
    {entries.map(({ data, slug }) => {
      const parts = data.title.split(' ');
      const lastPart = parts.pop()!;

      return (
        <Card
          class='w-full bg-neutral-950 p-4'
          inner={{ tag: 'article', class: 'flex flex-col justify-start overflow-clip' }}
        >
          <div class='mb-2 flex h-4 w-full flex-wrap items-center gap-0 overflow-clip text-[0.6rem]/[0.8rem] font-light xs:gap-1 sm:gap-2'>
            <Date
              class='mr-1 text-xs text-neutral-400 xs:mr-2'
              date={data.updatedAt ?? data.createdAt}
            />
            <span class='rounded bg-neutral-400 px-1 text-black'>{data.section}</span>
            {!!data.tags.length &&
              data.tags.map((tag) => (
                <span class='mx-1 whitespace-nowrap text-neutral-400'>{tag}</span>
              ))}
          </div>
          <Link href={`/blog/${slug}`} class='text-indigo-500 hover:text-indigo-400'>
            <h2 class='font-optician text-2xl leading-none text-inherit xs:text-3xl sm:text-4xl'>
              {data.sticky && (<span title='sticky' aria-hidden='true' class='select-none'>[@] </span>)}
              {parts.join(' ')}{' '}
              <span class='whitespace-nowrap'>
                {lastPart}{' '}
                <svg
                  class='inline aspect-square h-5 p-1 align-middle text-inherit xs:h-6 sm:h-7 select-none'
                  aria-hidden='true'
                  fill='none'
                  viewBox='0 0 12 10'
                >
                  <path
                    stroke='currentColor'
                    stroke-linecap='round'
                    stroke-linejoin='round'
                    stroke-width='2'
                    d='m7 9 4-4-4-4M1 9l4-4-4-4'
                  />
                </svg>
              </span>
            </h2>
          </Link>
          <p class='line-clamp-2 text-sm text-neutral-400 sm:line-clamp-3 sm:text-base'>
            {data.description}
          </p>
          {data.author !== FULL_TITLE && (
            <address class='mt-2 line-clamp-1 text-sm not-italic sm:text-base'>
              By: {data.author}
            </address>
          )}
        </Card>
      );
    })}
  </main>
</DefaultLayout>
